services:
  db:
    image: postgres:16
    container_name: jobboard-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: devuser
      POSTGRES_PASSWORD: devpass
      POSTGRES_DB: devdb
    #ports:
     # - "5432:5432"
    volumes:
    - db_data:/var/lib/postgresql/data
    - ./API/docker/init.sql:/docker-entrypoint-initdb.d/init.sql:ro

  api:
    build:
      context: .
      dockerfile: API/dockerfile
    container_name: jobboard-api
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "3000:3000"
    command: npm run dev
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  db_data:
